body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 70, 70);
}

canvas {
  border: 5px solid rgb(0, 0, 0);
}

.modal {
  position: absolute;
  background-color: #000000;
  border: 2px solid #888;
  color: white;
  width: 280px;
  height: 150px;
}

.modal-content {
  padding: 20px;
}
