* {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 70, 70);
}

canvas {
  border: 5px solid rgb(0, 0, 0);
}

.modal {
  position: absolute;
  background-color: #000000;
  border: 2px solid #888;
  color: white;
  width: 280px;
  height: auto;
  text-align: center;
}

.modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content button {
  margin: 10px;
}

#characterPreview {
  width: 100px;
  height: auto;
  margin-top: 20px;
}

.transition {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.show-transition {
  animation: fadeInOut 1.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide-transition {
  animation: fadeTransition 0.5s ease-in-out forwards;
}

@keyframes fadeTransition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover {
  background-color: rgba(206, 206, 206, 0.5);
  cursor: pointer;
}

#inventory {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  width: 280px;
  height: auto;
  text-align: center;
  z-index: 1000;
}

.inventory-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spell-item {
  margin-bottom: 10px;
}